*{
    font-family: 'Lato', sans-serif;
}

/*Estilos index1*/
.index1 h1, .index1 h2{
	display: block;
	margin: 0;
	padding: 10px 0 40px 10px;
	font-weight: normal;
}

.index1 h1{
	background-color: yellow;
}

.index1 h2{
	background-color: crimson;
}

/*Estilos index2*/
.index2 h1, .index2 h2{
	display: block;
	margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 40px 10px;
	font-weight: normal;
	width: 235px;
}

.index2 h1{
	background-color: yellow;
}

.index2 h2{
	background-color: crimson;
}

/*Estilos index3*/
.index3{
	text-align: center;
}

.index3 h1, .index3 h2{
	display: inline;
    padding: 10px;
	font-weight: normal;
	margin-left: 5px;
	margin-right: 5px;
}

.index3 h1{
	background-color: yellow;
}

.index3 h2{
	background-color: crimson;
}